extends layout

block content
    .container

    a(href="/") (Back to main)
    - var values = assignmentlist;
    ul
        each val in values.length   ? values : ['There are no values']
            li #[a(href=val.href) #{val.title}]