body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.segmentDiv {
  border-width: thin;
  border-color: #000;
  border: solid;
  padding: 1px;
  padding-left: 5px;
}
.contentsDiv {
  border: none;
  padding: 1px;
  padding-left: 5px;
}
.contents{
  border-width: thin;
  border-color: #000;
  border: solid;
}

section {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}
div#containerOriginal {
  width: 40%;
  height: 200px;
  float: left;
}
div#containerAssignment {
  width: 40%;
  margin-left: 15%;
  height: 200px;
  float: right;
}
div#leftAligned {
  width: 40%;
  margin-left: 15%;
  float: left;
}
div#rightAligned {
  width: 40%;
  float: right;
}
.button {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.buttonReject {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}